<p-panel header="Numerical Pipes" class="p-1">
  <p>Pipes included in Angular - Usually in the common module</p>
</p-panel>

<div class="grid">

  <div class="col-12 md:col-4">
    <p-card header="Net sales" subheader="of the current year">
      {{ totalSells + 1235 | number:'1.2-2' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Gross sales" subheader="of the current year">
      {{ totalSells | currency:'EUR':'symbol-narrow': '1.4-4' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Percentage profit" subheader="of the current year">
      {{ percent | percent: '1.2-2' }}
    </p-card>
  </div>

</div>
